<div id="beta_user_signup">
  <div class="big_beta_instructions"><%= instructions %></div>
  
  <% form_for(beta_user, :remote => true) do |f| %>
     <%= f.label :email %> 
     <%= f.text_field :email %>
     <%= f.submit submit %>
  <% end %>
</div><!-- #beta_user_signup -->
