<html>
  <head>
    <title>BigBeta Admin</title>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
